<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jumpstd.mukpick.batch.mapper.SearchMntBatchMapper">
   <delete id="deleteExpiredPeriod">
       DELETE
       FROM TB_SEARCH_MNT
       WHERE SEARCH_NO IN (SELECT SEARCH_NO FROM TB_SEARCH_MNT WHERE VALID_DATE &lt; CURRENT_DATE)
   </delete>
</mapper>